.header{
    width: auto;
    background-color: rgb(24, 2, 44);
    font-size: 20px;
    padding: 20px;
}
.header *{
    color: aliceblue;
    text-decoration: none;
}
.pageTitle{
    font-size: 40px;
    font-weight: 700;
}
.cart{
    float: right;
    padding-top: 10px;
}